body {
  background: url(https://t4.ftcdn.net/jpg/03/03/26/41/360_F_303264159_7H7zawOPVVTLxGIIRbXeon7H9VTXLSLI.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-additional {
  margin: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-box {
  border: 2px solid grey;
  margin: 20px;
  padding: 50px;
  border-radius: 7px;
  background-color: rgba(216, 229, 236, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  height: 200px;
}